.Rproj.user
.Rhistory
.RData
.Ruserdata
.prog.Rproj
data/visit_forest_growth_function.gdx
data/biomass*
data/cgeoutput/analysis.gdx
data/cgeoutput/analysis.gdx
individual/ForestCsink/AFR00_CSoil_stock_visit.gdx
