.Rproj.user
.Rhistory
.RData
.Ruserdata
.prog.Rproj
data/cgeoutput/analysis.gdx
shell/jobsche_tmp/*
tools/Gridmapping/prog/.Rproj.user
tools/Gridmapping/prog/R.Rproj
tools/Gridmapping/prog/*.lst
tools/Gridmapping/prog/*/
tools/Gridmapping/output/
tools/Gridmapping/data/Basin/major_hydrobasins*
*.bak